anndata>=0.8.0
scanpy>=1.9.0
numpy>=1.20,<2.0
pandas>=1.2
matplotlib>=3.3
Pillow>=8.0
tensorflow>=2.5
stardist>=0.8.0
scikit-image>=0.23.0
csbdeep>=0.8.0
geopandas>=0.13.0
shapely>=2.0.0
rtree>=0.3.0
tifffile>=2024.8.30